@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* ✅ Reset pour les liens <a> */
a {
  text-decoration: none; /* Supprime le soulignement */
  color: inherit;       /* Utilise la couleur de texte héritée du parent */
  cursor: pointer;
  outline: none;
}
a:hover, a:focus {
  text-decoration: underline; /* Style minimal au survol */
  outline: none;
}

/* ✅ Reset pour les listes <ul> et <li> */
ul {
  list-style: none;   /* Supprime les puces */
  margin: 0;          /* Supprime les marges par défaut */
  padding: 0;         /* Supprime les paddings par défaut */
}
li {
  margin: 0;
  padding: 0;
}


html, body {
  background: black;
  
}
html, body, #root, canvas {
  width: 100% !important;
  height: 100% !important;
  margin: 0;

}
body {
  min-height: 300vh;
  font-family: "Outfit", serif;
  overflow: hidden;
  
}

:root {
  --leftSpan: 5vw;
  --gradientStop1: 5%;
  --gradientStop2: 10%;
  --gradientStop3: 50%;
}

.us-container {
  background: black;
  display: flex;
  flex-direction: column;
  gap: 150px;
  overflow: hidden;
}
html.lenis, html.lenis body {
height: auto;
}

.lenis.lenis-smooth {
scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
overscroll-behavior: contain;
}

.lenis.lenis-stopped {
overflow: hidden;
}

.lenis.lenis-scrolling iframe {
pointer-events: none;
}
#root {
position: absolute;
pointer-events: none;
z-index: 1;
height: 100%;
width: 100%
}
.next-section {
height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
background: black;
color: white;
}

.carshow-container {
position: relative;
height: 100vh;
width: 100%;
display: flex;
justify-content: flex-end;
align-items: center;
gap: 20px;

}
.feature-box span {
color: white;
}
.feature-box img:nth-of-type(1) {
width: 130px;
position: relative;
z-index: 2;
}
.feature-box img:nth-of-type(2) {
filter: invert(1);
width: 75px;

}
.feature-box {
position: absolute;
z-index: 2;
left: 0;
top: 0;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
height: 100%;
width: 100%;
}
.autosize-container {
width: 100%;
max-width: 1600px;
margin: 0 auto;
}
.container__bloc-txt {
display: flex;
justify-content:flex-end;

}

.bloc-txt {
z-index: 2;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
gap: 5px;
height: 100%;
width: 50%;
padding: 0 20px;
}
.surTitre {
color: #878787;
font-size: 20px;
font-weight: 500;
text-transform: uppercase;
overflow: hidden;
}
.surTitre span {
display: block;
/* white-space: nowrap; */

}
.bloc-txt h2 {
margin: 0;
padding: 0;
overflow: hidden;
max-width: 580px;
width: 100%;
/* text-wrap: balance; */
}
.bloc-txt h2 span{
color: #FFF;
font-size: 36px;
font-weight: 500;
display: block;
/* white-space: nowrap; */

}
.bloc-txt__p {

display: flex;
flex-direction: column;
gap: 5px;
}
.bloc-txt__p p {
margin: 0;
opacity: 0;
font-size: 16px;
color: #878787;
font-weight: 500;
line-height: 25px;
}
.bloc-txt a {
border-radius: 8px;
background: #FFF;
padding: 15px;
color: #1D1D1F;
font-size: 16px;
font-weight: 600;
width: max-content;
text-decoration: none;
margin-top: 20px;
opacity: 0;
}




.loader-wrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.us-loader {
display: flex;
justify-content: center;
align-items: flex-end;
flex-direction: column;
gap: 10px;
width: max-content;
}

.us-loader div {
height: 1px;
width: 90vw;
background: white;
transform-origin: left;
will-change: transform;
}

.us-loader span {
font-size: 24px;
color: white;
position: absolute;
left: var(--leftSpan);
top: 50%;
transform: translate(-100%, 50%);
}


/*CADRES*/ 

#cadres, .canvas-wrapper {
position: absolute;
top: 0;
left: 0;
z-index: 1;
height: 100%;
width: 100%;
}


.hero-banner {
position: relative;
width: 100vw;
height: 70vh;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
gap: 20px;
}

.overlay-hero-banner {
position: absolute;
pointer-events: none;
height: 100%;
width: 100%;
z-index: 2;
top: 0;
left: 0;
background: linear-gradient(to bottom, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0) 80%,rgba(0,0,0, 1) 100%);
}

.hero-banner h1 {
margin: 0;
padding: 0;
opacity: 0;
transform: translateY(-20px);
transition: transform opacity cubic-bezier(0.33, 0.7, 0.47, 0.84);
position: relative;
z-index: 3;
color: white;
font-size: 36px;
}

.hero-banner ul {
position: relative;
z-index: 3;
margin: 0;
padding: 0;
list-style: none;
display: flex;
gap: 2vw;
padding-top: 20px;
width: 95vw;
justify-content: center;
}

.cat-line {
position: absolute;
width: 100%;
top: 0px;
left: 50%;
transform: translateX(-50%) scaleX(0);
height: 1px;
background-color: rgba(255, 255, 255, 0.5); 
will-change: transform;
}
.cat-line div {
position: absolute;
top: 0.5px;
width: 1px;
height: 15px;
background-color: rgba(255, 255, 255, 0.5);
transform:scaleY(0);
transform-origin: top;
will-change: transform;
}
.cat-line div:nth-child(1) {
left: 0;
}
.cat-line div:nth-child(2) {
right: 0;
}
.hero-banner li {
margin: 0;
padding: 0;
font-size: 16px;
cursor: pointer;
position: relative;
display: flex;
text-align: center;
}
.hero-banner li span {
opacity: 0;
transform: translateY(-20%);
transition: transform opacity cubic-bezier(0.33, 0.7, 0.47, 0.84);
font-size: 16px;
font-weight: 400;
color: white
}

/* Style du carré */
.hero-banner ul li::after {
content: "";
position: absolute;
right: -20px; /* Positionne le carré à droite */
top: 35%;
transform: translateY(-50%) scale(0); /* Caché par défaut */
width: 8px; /* Taille du carré */
height: 8px;
background-color: #FFCF00; /* Couleur jaune */ 
opacity: 0; /* Invisible au départ */
transition: transform 0.3s ease, opacity 0.3s ease; /* Transition fluide */
border-radius: 50%;
}

/* Apparition avec effet */
.hero-banner ul li.selected::after {
transform: translateY(-50%) scale(1); /* Apparition douce */
opacity: 1;
}



.hero-banner ul li div {
position: absolute;
top: -19px; /* Positionne le carré à droite */
left: 50%;
transform: translateX(-50%) scaleY(0);
width: 1px; /* Taille du carré */
height: 8px;
background-color: rgba(255, 255, 255, 0.5); 
transform-origin: top;
}
.hero-banner h1, .hero-banner ul {
z-index: 2;
}


/* CATEGORY */
.cat-3d-container {
  position: relative;
  width: 100%;
}
.cat-3d-container::before {
  position: absolute;
  content: "";
  left: 50%;
  top: -20px;
  transform: translateX(-50%);
  width: 70%;
  height: 1px;
  background: rgba(255, 255, 255, 0.50)
}
.cat-3d__bg {
  position: absolute;
  bottom: -30%;
  z-index: 0;
  width: 100%
}

  .cat-3d__bg img {
      position: relative;
      z-index: 0;
      width: 100%
  }
.cat-3d__bg__overlay {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 75%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) var(--gradientStop1), rgba(0, 0, 0, 0) var(--gradientStop2), rgba(0, 0, 0, 1) 95%);
}

.cat-3d {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
border: 1px solid rgba(255, 255, 255, 0.50);
padding: 50px 0;
position: relative;
z-index: 2;
}
.cat-3d__wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 1000px;
  position: relative;
  z-index: 1;
  padding: 0 30px;
}
.cat-3d__wrapper h2 {
  color: #FFF;
  font-size: 36px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
.cat-3d__bot {
  display: flex;
  justify-content: center;
}
.cat-3d__bot ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 310px;
  row-gap: 10px;
  column-gap: 150px;
}
.cat-3d__bot ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.50);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.50);
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(6px);
  cursor: pointer;
  width: 380px;
}
.cat-3d__bot__infos {
  display: flex;
  gap: 50px;
}
.cat-3d__bot__infos span:nth-child(1) {
  color: #FFCF00;
  font-size: 16px;
font-weight: 400;
}
.cat-3d__bot__infos span:nth-child(2) {
  color: white;
  font-size: 16px;
font-weight: 400;
}
.cat-3d__bot__point {
  width: 10px;
height: 10px;
border-radius: 50%;

border: 1px solid #FFCF00;
padding: 1px;
box-sizing: border-box;
}
.cat-3d__bot__point div {
  will-change: transform;
  background: #FFCF00;
  width: 100%;
height: 100%;
border-radius: 50%;
}


.cat-3d__top {
  position: relative;
  display: flex;
  gap: 32px;
}
.cat-3d__top__product, .cat-3d__top__description, .cat-3d__top__name {
  flex: 1;
  }
.cat-3d__redirect {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  gap: 5px;
}
.cat-3d__redirect span {
  color: #FFF;
  font-family: Outfit;
  font-size: 18px;
  font-weight: 400;
  text-decoration-line: underline;
  line-height: 1.5;
}
.cat-3d__top__name {
  display: flex;
  align-items: center;
}
.cat-3d__top__name__wrapper {
  display: flex;
  gap: 10px;
}
.cat-3d__top__name span:nth-child(1) {
  color: #878787;
  font-size: 16px;
  font-weight: 400;
}
.cat-3d__top__name span:nth-child(2) {
  color: white;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  height: 75px;
}
.cat-3d__top__product {
  height: 415px;
  width: 340px;
  border-radius: 21px;
  border: 0.5px solid rgba(255, 255, 255, 0.50);
  padding: 5px;
}
#category {
  height: 100%;
  width: 100%;
  position: relative;
}
.category-container {
  height: 100%;
}
#category .main-img-cat {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  will-change: transform;
  z-index: 1;
}
#category .plaque {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: 10px;
  will-change: transform;
}
.cat-3d__top__product__wrapper {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}
.cat-3d__top__description {
  display: flex;
  align-items: center;
  position: relative;
  height: max-content;
  margin: auto 0;
  z-index: 3;
}
.cat-3d__top__description p {
  color: #878787;
  font-size: 18px;
  font-weight: 400;
  text-indent: 2em;
  position: relative;
  margin: 0;
  height: 250px;
  line-height: 1.2;
}
.cat-3d__top__description p strong {
  color: white;
  font-weight: 400;
}
.cat-3d__top__description p::after {
content: "";
position: absolute;
left: 0;
top: 10px;
width: 5px;
height: 5px;
background: #D9D9D9;
border-radius: 50%;
}
.cat-3d__top__description svg {
  position: absolute;
  left: 0;
  top: 11px;
  transform: translateX(-110%);
}

.cat-3d-mobile {
  display: none;
}

/* RESPONSIVE */


@media screen and (max-width : 1920px) {
  .autosize-container {
  max-width: 1280px;
  }
  }
  
  @media screen and (max-width : 999px) {
    .us-container {
      gap: 75px
    }
    .overlay-hero-banner {
      height: 85% !important;
      background: linear-gradient(to bottom, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0) 95%,rgba(0,0,0, 1) 100%) !important;
      }
  .container__bloc-txt {
  justify-content: center;
  /* height: 100dvh; */
  max-width: 600px !important;
  padding: 140px 0 40px 0;
  box-sizing: border-box;
  margin-bottom: -100vh;
  }
  .bloc-txt {
  justify-content: flex-start;
  width: 100%;
  }
  .bloc-txt h2 span {
  font-size: 24px;
  }
  .bloc-txt__p p {
  font-size: 14px;
  }
  .surTitre {
  font-size: 16px;
  }
  
  #root::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%); */
  }

  .hero-banner {
    height: calc(80dvh - 125px);
    justify-content: flex-start;
    gap: 20px
  }
  .hero-banner h1 {
    font-size: 24px;
font-style: normal;
font-weight: 700;
text-align: center;
width: 100%;
position: absolute;
bottom: 0;
padding: 0 20px;
box-sizing: border-box;
  }
  .hero-banner ul {
    display: none;
  }
  #cadres {
    height: 85%;
    position: initial;
  }
  .cat-3d {
    display: none;
  }
  .cat-3d-mobile {
    width: 100%;
    display: flex;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .cat-3d-mobile ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  .cat-3d-mobile li {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 10px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.50);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.01);
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  .cat-3d-mobile__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
  }
  .cat-3d-mobile__top__name {
    display: flex;
    gap: 50px;
  }
  .cat-3d-mobile__top__name span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: white;
  }
  .cat-3d__top__description p {
    height: max-content;
  }
  .cat-3d-mobile__top__name span:nth-child(1) {
    color: #FFCF00;
  }
  .cat-3d-mobile__content {
    display: flex;
    padding: 10px;
    gap: 10px;
    position: relative;
  }
  .cat-3d-mobile__content__img {
    border-radius: 10px;
    border: 0.5px solid rgba(255, 255, 255, 0.50);
    padding: 2px;
    height: max-content;
    width: 126px;
    aspect-ratio: 1/1;
  }
  .cat-3d-mobile__img-wrap {
    border-radius: 8px;
    background: rgba(94, 102, 249, 0.05);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cat-3d-mobile__img-wrap img {
    width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
  }
  .cat-3d__top__description {
    margin: 0 0 auto 0;
  }
  #cat-content {
    font-size: 12px;
    font-weight: 500;
  }
  .cat-3d__top__description svg {
    top: 8px;
  }
  .cat-3d__top__description p::after {
    top: 7px;
  }
  .cat-3d__redirect span {
    font-size: 12px;
  }
  .cat-3d-container {
    display: none;
  }
  }